.design{
    color: blueviolet;
}

#designId{
    background-color: aquamarine;
}


#pinkbox{
    background-color: pink;
    width: 200px;
    position: absolute;
    height: 200px;
    left: 60px;
    top: 200px;

}